/* variables */
:root,
:root.dark {
  --color: #f0f1f1;
  --background-color: #212121;
  --cell-background: #222629;
  --border-color: #505050;
  --titles-color: rgb(252, 71, 71);
}
:root.light {
  --color: #131313;
  --background-color: #e7e7e7;
  --cell-background: #f1f1f1;
  --border-color: #aaaaaa;
  --titles-color: rgb(119, 56, 56);
}

body {
  background-color: var(--background-color);
}

* {
  color: var(--color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.menu-container {
  border-bottom: 1px solid var(--border-color);
  padding: 1em 1em;

  display: flex;
  justify-content: center;
}

.menu {
  width: 800px;
  height: auto;
  padding: 0em 0em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-right {
  display: flex;
  justify-content: flex-end;
  font-weight: 300;
}

.resume {
  margin-left: 1em;
}

.about {
  margin-left: 1em;
}
/* links */

a {
  text-decoration: none;
}

a:hover {
  color: var(--titles-color);
}

/* github logo */
#gh-logo {
  object-fit: cover;
  height: 1.8em;
  width: 1.8em;
}
/* 
.gh-logo.light {
  display: none;
}

.light .gh-logo.light {
  display: block;
}

.light .gh-logo.dark {
  display: none;
}

.ligth .gh-logo.light {
  display: block;
} */

/* theme button*/
.theme-button {
  height: 2.5em;
  width: 2.5em;
  padding: 0.3em;
  border: 0px solid;
  border-radius: 50%;

  margin-left: 1em;

  font-weight: 300;

  background-color: var(--background-color);
  color: var(--titles-color);

  cursor: pointer;
}

.theme-button:hover {
  background-color: var(--titles-color);
  color: var(--background-color);
}

.theme-button.dark {
  display: none;
}

.light .theme-button.dark {
  display: block;
  background-color: var(--background-color);
}

.light .theme-button.dark:hover {
  display: block;
  background-color: var(--titles-color);
  color: var(--background-color);
}

.light .theme-button.light {
  display: none;
}

.dark .theme-btn.light {
  display: block;
  background-color: var(--background-color);
}

.dark .theme-button.dark {
  display: none;
}

#sun {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#moon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* end theme button */

.basics-container {
  /* margin-top: 2em; */
  padding: 1em 1em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.basics {
  background-color: var(--cell-background);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 800px;
  height: auto;
  padding: 1em 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.basics-item {
  margin: 5px 2px;
  display: flex;
  justify-content: space-around;
}

.basics-item-left {
  font-weight: bold;
  width: 8em;
  flex-shrink: 0;
  text-align: right;
}

.basics-item-right {
  font-weight: 300;
  margin-left: 2em;
}

.basics-title {
  color: var(--titles-color);
  font-family: sans-serif;
  font-size: x-large;
  margin-bottom: 9px;
}

.education {
  background-color: var(--cell-background);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 800px;
  height: auto;
  padding: 1em 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.education-item {
  margin: 5px 2px;
  display: flex;
  justify-content: space-around;
}

.education-item-left {
  font-weight: bold;
  width: 8em;
  flex-shrink: 0;
  text-align: right;
}

.education-item-right {
  font-weight: 300;
  margin-left: 2em;
}

.education-title {
  color: var(--titles-color);
  font-family: sans-serif;
  font-size: x-large;
  margin-bottom: 9px;
}

.divider {
  width: 90%;
  min-width: 0px;

  margin-top: 1em;
  margin-bottom: 1em;

  border: 1px solid var(--border-color);
  align-self: center;
}

.study-title {
  color: var(--titles-color);
  font-weight: bold;
}

.institution-name {
  font-style: italic;
}

.courses-list {
  list-style-position: inside;
  list-style-type: "❖ ";
  margin-top: 0.5em;
  padding-left: 0;
}

.work-description {
  margin-top: 0.5em;
}

.languages {
  background-color: var(--cell-background);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 800px;
  height: auto;
  padding: 1em 1em;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.language-list {
  margin-top: 1em;
  margin-bottom: 1em;

  font-weight: 300;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.language-name {
  font-weight: 500;
  color: var(--titles-color);
}
